{
  "presets": ["es2015"],
  "plugins": [
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul",
        "rewire"
      ]
    },
    "compile": {
      "plugins": [
        "transform-async-to-generator",
        "transform-runtime"
      ]
    }
  }
}
