{
  "root": true,

  "env": {
    "node": true,
    "es6": true
  },

  "globals": {},

  "extends": "eslint:recommended",

  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "jsx": true,
      "impliedStrict": true,
      "experimentalObjectRestSpread": true
    }
  },

  "rules": {
    "indent": ["error", 2]
  }
}
